<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Country -->
    <preference for="Engine\Location\Api\CountryRepositoryInterface" type="Engine\Location\Model\Country\CountryRepository"/>
    <preference for="Engine\Location\Api\Data\CountryInterface" type="Engine\Location\Model\Country\Country"/>
    <preference for="Engine\Location\Api\Data\CountrySearchResultInterface" type="Engine\Location\Model\Country\CountrySearchResult"/>
    <preference for="Engine\Location\Model\Country\DeleteCountryByIdInterface" type="Engine\Location\Model\Country\DeleteCountryById"/>
    <preference for="Engine\Location\Model\Country\GetCountryInterface" type="Engine\Location\Model\Country\GetCountry"/>
    <preference for="Engine\Location\Model\Country\GetCountryListInterface" type="Engine\Location\Model\Country\GetCountryList"/>
    <preference for="Engine\Location\Model\Country\SaveCountryInterface" type="Engine\Location\Model\Country\SaveCountry"/>
    <preference for="Engine\Location\Model\Country\Validator\CountryValidatorInterface" type="Engine\Location\Model\Country\Validator\ValidatorChain"/>
    <type name="Engine\Location\Model\Country\Validator\ValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="name" xsi:type="object">Engine\Location\Model\Country\Validator\NameValidator</item>
            </argument>
        </arguments>
    </type>
    <!-- Collection processor: extension point for possibility to add custom collection filter processing  -->
    <virtualType name="Engine\Location\Model\Country\Api\SearchCriteria\CollectionProcessor\CountryFilterProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor"/>
    <virtualType name="Engine\Location\Model\Country\Api\SearchCriteria\CountryCollectionProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Engine\Location\Model\Country\Api\SearchCriteria\CollectionProcessor\CountryFilterProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Engine\Location\Model\Country\CountryRepository">
        <arguments>
             <argument name="collectionProcessor" xsi:type="object">Engine\Location\Model\Country\Api\SearchCriteria\CountryCollectionProcessor</argument>
         </arguments>
     </type>
    <!-- Region -->
    <preference for="Engine\Location\Api\RegionRepositoryInterface" type="Engine\Location\Model\Region\RegionRepository"/>
    <preference for="Engine\Location\Api\Data\RegionInterface" type="Engine\Location\Model\Region\Region"/>
    <preference for="Engine\Location\Api\Data\RegionSearchResultInterface" type="Engine\Location\Model\Region\RegionSearchResult"/>
    <preference for="Engine\Location\Model\Region\DeleteRegionByIdInterface" type="Engine\Location\Model\Region\DeleteRegionById"/>
    <preference for="Engine\Location\Model\Region\GetRegionInterface" type="Engine\Location\Model\Region\GetRegion"/>
    <preference for="Engine\Location\Model\Region\GetRegionListInterface" type="Engine\Location\Model\Region\GetRegionList"/>
    <preference for="Engine\Location\Model\Region\SaveRegionInterface" type="Engine\Location\Model\Region\SaveRegion"/>
    <preference for="Engine\Location\Model\Region\Validator\RegionValidatorInterface" type="Engine\Location\Model\Region\Validator\ValidatorChain"/>
    <type name="Engine\Location\Model\Region\Validator\ValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="name" xsi:type="object">Engine\Location\Model\Region\Validator\NameValidator</item>
            </argument>
        </arguments>
    </type>
    <!-- Collection processor: extension point for possibility to add custom collection filter processing  -->
    <virtualType name="Engine\Location\Model\Region\Api\SearchCriteria\CollectionProcessor\RegionFilterProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor"/>
    <virtualType name="Engine\Location\Model\Region\Api\SearchCriteria\RegionCollectionProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Engine\Location\Model\Region\Api\SearchCriteria\CollectionProcessor\RegionFilterProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Engine\Location\Model\Region\RegionRepository">
        <arguments>
             <argument name="collectionProcessor" xsi:type="object">Engine\Location\Model\Region\Api\SearchCriteria\RegionCollectionProcessor</argument>
         </arguments>
     </type>
    <!-- City -->
    <preference for="Engine\Location\Api\CityRepositoryInterface" type="Engine\Location\Model\City\CityRepository"/>
    <preference for="Engine\Location\Api\Data\CityInterface" type="Engine\Location\Model\City\City"/>
    <preference for="Engine\Location\Api\Data\CitySearchResultInterface" type="Engine\Location\Model\City\CitySearchResult"/>
    <preference for="Engine\Location\Model\City\DeleteCityByIdInterface" type="Engine\Location\Model\City\DeleteCityById"/>
    <preference for="Engine\Location\Model\City\GetCityInterface" type="Engine\Location\Model\City\GetCity"/>
    <preference for="Engine\Location\Model\City\GetCityListInterface" type="Engine\Location\Model\City\GetCityList"/>
    <preference for="Engine\Location\Model\City\SaveCityInterface" type="Engine\Location\Model\City\SaveCity"/>
    <preference for="Engine\Location\Model\City\Validator\CityValidatorInterface" type="Engine\Location\Model\City\Validator\ValidatorChain"/>
    <type name="Engine\Location\Model\City\Validator\ValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="name" xsi:type="object">Engine\Location\Model\City\Validator\NameValidator</item>
            </argument>
        </arguments>
    </type>
    <!-- Collection processor: extension point for possibility to add custom collection filter processing  -->
    <virtualType name="Engine\Location\Model\City\Api\SearchCriteria\CollectionProcessor\CityFilterProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor"/>
    <virtualType name="Engine\Location\Model\City\Api\SearchCriteria\CityCollectionProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Engine\Location\Model\City\Api\SearchCriteria\CollectionProcessor\CityFilterProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Engine\Location\Model\City\CityRepository">
        <arguments>
             <argument name="collectionProcessor" xsi:type="object">Engine\Location\Model\City\Api\SearchCriteria\CityCollectionProcessor</argument>
         </arguments>
     </type>
</config>
