<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Engine\Category\Api\Data\CategoryInterface" type="Engine\Category\Model\Category\Category"/>
    <preference for="Engine\Category\Api\CategoryRepositoryInterface" type="Engine\Category\Model\Category\CategoryRepository"/>
    <preference for="Engine\Category\Api\Data\CategorySearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Engine\Category\Model\Category\CategoryBaseValidatorInterface" type="Engine\Category\Model\Category\CategoryBaseValidator"/>
    <preference for="Engine\Category\Api\RootCategoryIdProviderInterface" type="Engine\Category\Model\Category\RootCategoryIdProvider"/>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Engine\Category\Api\Data\CategoryInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">engine_category</item>
                    <item name="identifierField" xsi:type="string">category_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Per store data configuration -->
    <virtualType name="Engine\Category\Model\Category\EntityManager\StoreData\ReadHandler"
                 type="Engine\PerStoreDataSupport\Model\EntityManager\ReadHandler">
        <arguments>
            <argument name="interfaceName" xsi:type="string">Engine\Category\Api\Data\CategoryInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="Engine\Category\Model\Category\EntityManager\StoreData\CreateHandler"
                 type="Engine\PerStoreDataSupport\Model\EntityManager\CreateHandler">
        <arguments>
            <argument name="interfaceName" xsi:type="string">Engine\Category\Api\Data\CategoryInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="Engine\Category\Model\Category\EntityManager\StoreData\UpdateHandler"
                 type="Engine\PerStoreDataSupport\Model\EntityManager\UpdateHandler">
        <arguments>
            <argument name="interfaceName" xsi:type="string">Engine\Category\Api\Data\CategoryInterface</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Engine\Category\Api\Data\CategoryInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="store_data_read" xsi:type="string">Engine\Category\Model\Category\EntityManager\StoreData\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="store_data_create" xsi:type="string">Engine\Category\Model\Category\EntityManager\StoreData\CreateHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="store_data_update" xsi:type="string">Engine\Category\Model\Category\EntityManager\StoreData\UpdateHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Engine\PerStoreDataSupport\Model\StoreDataConfigurationProvider">
        <arguments>
            <argument name="configuration" xsi:type="array">
                <item name="Engine\Category\Api\Data\CategoryInterface" xsi:type="array">
                    <item name="fields" xsi:type="array">
                        <item name="0" xsi:type="string">title</item>
                        <item name="1" xsi:type="string">description</item>
                    </item>
                    <item name="storeDataTable" xsi:type="string">engine_category_store</item>
                    <item name="referenceField" xsi:type="string">category_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Buttons configurations -->
    <virtualType name="Engine\Category\Ui\Component\Control\Category\DeleteButton" type="Engine\Backend\Ui\Component\Control\DeleteButton">
        <arguments>
            <argument name="idFieldName" xsi:type="string">category_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Engine\Category\Ui\Component\Control\Category\SaveSplitButton" type="Engine\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="saveTarget" xsi:type="string">engine_category_form.engine_category_form</argument>
        </arguments>
    </virtualType>
    <!-- Collection processor: extension point for possibility to add custom collection filter processing  -->
    <virtualType name="Engine\Category\Model\Category\Api\SearchCriteria\CollectionProcessor\CategoryFilterProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor"/>
    <virtualType name="Engine\Category\Model\Category\Api\SearchCriteria\CategoryCollectionProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Engine\Category\Model\Category\Api\SearchCriteria\CollectionProcessor\CategoryFilterProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Engine\Category\Model\Category\CategoryRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Engine\Category\Model\Category\Api\SearchCriteria\CategoryCollectionProcessor</argument>
        </arguments>
    </type>
</config>
