<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Engine_Backend::backend">
                    <resource id="Engine_CharacteristicGroup::characteristic_group" title="Characteristic Groups" translate="title" sortOrder="200">
                        <resource id="Engine_CharacteristicGroup::characteristic_group_characteristic_group" title="Characteristic Group" translate="title" sortOrder="100"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
