<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Engine\CategoryCharacteristicGroup\Api\Data\RelationInterface" type="Engine\CategoryCharacteristicGroup\Model\CategoryCharacteristicGroupRelation\Relation"/>
    <preference for="Engine\CategoryCharacteristicGroup\Api\Data\RelationSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Engine\CategoryCharacteristicGroup\Api\RelationRepositoryInterface"
                type="Engine\CategoryCharacteristicGroup\Model\CategoryCharacteristicGroupRelation\RelationRepository"/>
    <preference for="Engine\CategoryCharacteristicGroup\Model\CategoryCharacteristicGroupRelation\RelationValidatorInterface"
                type="Engine\CategoryCharacteristicGroup\Model\CategoryCharacteristicGroupRelation\Validator\ValidatorChain"/>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Engine\CategoryCharacteristicGroup\Api\Data\RelationInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">engine_category_characteristic_group_relation</item>
                    <item name="identifierField" xsi:type="string">relation_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Category -->
    <type name="Engine\Category\Controller\Adminhtml\Category\Save">
        <plugin name="save_category_characteristic_group_relation" type="Engine\CategoryCharacteristicGroup\Controller\Adminhtml\Category\SavePlugin\ProcessRelations"/>
    </type>
    <type name="Engine\Category\Ui\DataProvider\CategoryDataProvider">
        <plugin name="add_relation_data" type="Engine\CategoryCharacteristicGroup\Ui\CategoryDataProviderPlugin\AddRelationData"/>
    </type>
    <virtualType name="Engine\Category\Model\Category\Api\SearchCriteria\CollectionProcessor\CategoryFilterProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="assigned_to_characteristic_group" xsi:type="object">Engine\CategoryCharacteristicGroup\Model\Category\Api\SearchCriteria\CollectionProcessor\AssignedToCharacteristicGroupFilterProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Characteristic Group -->
    <type name="Engine\CharacteristicGroup\Controller\Adminhtml\CharacteristicGroup\Save">
        <plugin name="save_category_characteristic_group_relation" type="Engine\CategoryCharacteristicGroup\Controller\Adminhtml\CharacteristicGroup\SavePlugin\ProcessRelations"/>
    </type>
    <type name="Engine\CharacteristicGroup\Ui\DataProvider\CharacteristicGroupDataProvider">
        <plugin name="add_relation_data" type="Engine\CategoryCharacteristicGroup\Ui\CharacteristicGroupDataProviderPlugin\AddRelationData"/>
    </type>
    <virtualType name="Engine\CharacteristicGroup\Model\CharacteristicGroup\Api\SearchCriteria\CollectionProcessor\CharacteristicGroupFilterProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="assigned_to_category" xsi:type="object">Engine\CategoryCharacteristicGroup\Model\CharacteristicGroup\Api\SearchCriteria\CollectionProcessor\AssignedToCategoryFilterProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Base validation -->
    <type name="Engine\CategoryCharacteristicGroup\Model\CategoryCharacteristicGroupRelation\Validator\ValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="category" xsi:type="object">Engine\CategoryCharacteristicGroup\Model\CategoryCharacteristicGroupRelation\Validator\CategoryValidator</item>
                <item name="characteristic_group" xsi:type="object">Engine\CategoryCharacteristicGroup\Model\CategoryCharacteristicGroupRelation\Validator\CharacteristicGroupValidator</item>
            </argument>
        </arguments>
    </type>
</config>
