<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Engine_Backend::backend">
                    <resource id="Engine_Location::location" title="Location" translate="title" sortOrder="100">
                        <resource id="Engine_Location::region" title="Region" translate="title" sortOrder="100"/>
                        <resource id="Engine_Location::city" title="City" translate="title" sortOrder="200"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
